* {
    text-align: center;
    margin: 5px;
    padding: 5px;
    font-family:'Courier New', Courier, monospace;
    color: white;
    background-color: darkgray;
  }

.fact-box{
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
  }

.text-format{ 
    color: black;
    background-color: white;
    margin: 10px;
    padding: 10px;
  }

.image-style{
    width: 600px;
    height: 300px;
    border-radius: 10px;
  }

  .button {
    width: 180px;
    height: 30px;
    border-radius: 5px;
    color: black;
    font-style: oblique;
    background-color:white;
  }