* {
    margin: 5px;
    padding: 5px;
    font-family:'Courier New', Courier, monospace;
    color: white;
    background-color: darkgray;
  }

.fact-box{
    background-color: white;
    width: 550px;
    border-radius: 10px;
  }

.facts-title{
    text-align: center;
}

.text-format{ 
    color: black;
    background-color: white;
    margin: 10px;
    padding: 10px;
  }

.image-style{
    width: 500px;
    height: 150px;
    border-radius: 10px;
  }